n8n-workflows/example-workflow.json
{
  "name": "Sudut Ruang — 0. Dashboard Message Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-message",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-dashboard",
      "name": "Webhook — Dashboard Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Dipanggil ketika operator dashboard kirim pesan manual ke client.\nPayload: { conversationId, destination, recipient, message, sender, operator, timestamp }"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "platform-check",
              "leftValue": "={{ $json.destination }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-platform",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "messageType": "text",
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.recipient }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": { "previewUrl": false }
      },
      "id": "wa-send",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [680, 160],
      "credentials": {
        "whatsAppApi": { "id": "wa-cred", "name": "WhatsApp Business Cloud" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.recipient }}\" },\n  \"message\": { \"text\": {{ JSON.stringify($json.message) }} },\n  \"messaging_type\": \"RESPONSE\"\n}",
        "options": {}
      },
      "id": "ig-send",
      "name": "Send to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 440],
      "credentials": {
        "httpHeaderAuth": { "id": "ig-cred", "name": "Instagram API Header" }
      },
      "notes": "Credentials: HTTP Header Auth\nName: Authorization\nValue: Bearer <IG_ACCESS_TOKEN>"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json.conversationId }}\",\n  \"content\": {{ JSON.stringify($json.message) }},\n  \"role\": \"{{ $json.sender === 'ai' ? 'ai' : 'human' }}\",\n  \"source\": \"{{ $json.destination }}\",\n  \"ai_confidence\": null,\n  \"needs_human_review\": false,\n  \"metadata\": { \"operator\": {{ JSON.stringify($json.operator || null) }} }\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-log",
      "name": "Supabase — Log Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"messageId\": \"msg-\" + Date.now(), \"deliveryStatus\": \"sent\", \"timestamp\": $now } }}"
      },
      "id": "respond",
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook — Dashboard Message": {
      "main": [[{ "node": "Route by Platform", "type": "main", "index": 0 }]]
    },
    "Route by Platform": {
      "main": [
        [{ "node": "Send to WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Send to Instagram", "type": "main", "index": 0 }]
      ]
    },
    "Send to WhatsApp": {
      "main": [[{ "node": "Supabase — Log Message", "type": "main", "index": 0 }]]
    },
    "Send to Instagram": {
      "main": [[{ "node": "Supabase — Log Message", "type": "main", "index": 0 }]]
    },
    "Supabase — Log Message": {
      "main": [[{ "node": "Respond to Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
