n8n-workflows/workflow-2-estimator.json
{
  "name": "Sudut Ruang — 2. Auto Estimator (Syifa)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-estimator",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-estimator",
      "name": "Webhook — Trigger from WF1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Dipanggil oleh WF1 ketika intent = ASK_PRICE dan data lengkap.\nPayload: { from, clientName, phoneNumberId, extracted }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nlet extracted = body.extracted;\nif (typeof extracted === 'string') {\n  try { extracted = JSON.parse(extracted); } catch(e) { extracted = {}; }\n}\n\n// Harga per m2 berdasarkan tipe & tier (dalam Rupiah)\nconst priceTable = {\n  'rumah': { 'ekonomi': [3500000,4500000], 'standar': [5000000,6000000], 'menengah': [6500000,8000000], 'premium': [9000000,12000000] },\n  'cafe': { 'standar': [5500000,7000000], 'menengah': [7500000,9500000], 'premium': [10000000,14000000] },\n  'restoran': { 'standar': [5500000,7000000], 'menengah': [7500000,9500000], 'premium': [10000000,14000000] },\n  'kantor': { 'standar': [4500000,6000000], 'menengah': [6500000,8500000], 'premium': [9000000,12000000] },\n  'villa': { 'standar': [6000000,8000000], 'menengah': [8500000,11000000], 'premium': [12000000,16000000] },\n  'ruko': { 'standar': [4000000,5500000], 'menengah': [6000000,7500000] },\n  'renovasi': { 'ringan': [1500000,2500000], 'sedang': [2500000,4000000], 'berat': [4000000,6000000] }\n};\n\n// Fee percentage berdasarkan kategori\nconst feePctTable = {\n  'arsitektur': [5, 8], 'interior': [7, 10], 'komersial': [6, 9],\n  'lansekap': [5, 7], 'pengawasan': [3, 5]\n};\n\n// Auto-map service berdasarkan building type\nconst autoService = {\n  'cafe': 'komersial', 'restoran': 'komersial', 'villa': 'arsitektur',\n  'rumah': 'arsitektur', 'kantor': 'arsitektur', 'ruko': 'arsitektur', 'renovasi': 'interior'\n};\n\nconst rawType = (extracted.building_type || 'rumah').toLowerCase();\nconst rawTier = (extracted.tier || 'standar').toLowerCase();\nconst rawService = (extracted.service_type || '').toLowerCase();\nconst area = extracted.area_sqm || 100;\nconst areaAssumed = !extracted.area_sqm;\n\n// Cari harga\nconst typeKey = Object.keys(priceTable).find(k => rawType.includes(k)) || 'rumah';\nconst tierKey = Object.keys(priceTable[typeKey] || {}).find(k => rawTier.includes(k)) || 'standar';\nconst prices = (priceTable[typeKey] && priceTable[typeKey][tierKey]) || [5000000, 6000000];\n\nconst rabMin = prices[0] * area;\nconst rabMax = prices[1] * area;\nconst rabAvg = (rabMin + rabMax) / 2;\n\n// Fee\nconst serviceKey = rawService || autoService[typeKey] || 'arsitektur';\nconst feePcts = feePctTable[serviceKey] || [5, 8];\nconst feeMin = rabAvg * feePcts[0] / 100;\nconst feeMax = rabAvg * feePcts[1] / 100;\nconst feeAvg = (feeMin + feeMax) / 2;\nconst ppn = feeAvg * 0.11;\nconst totalFee = feeAvg + ppn;\n\nconst fmt = (n) => {\n  if (n >= 1000000000) return 'Rp ' + (n/1000000000).toFixed(1) + ' M';\n  if (n >= 1000000) return 'Rp ' + Math.round(n/1000000) + ' jt';\n  return 'Rp ' + n.toLocaleString('id-ID');\n};\n\nreturn [{\n  json: {\n    from: body.from,\n    clientName: body.clientName || 'Pelanggan',\n    phoneNumberId: body.phoneNumberId || '1052743247932102',\n    area, areaAssumed,\n    buildingType: typeKey,\n    tier: tierKey,\n    serviceCategory: serviceKey,\n    rabMin, rabMax, rabAvg,\n    rabMinFmt: fmt(rabMin), rabMaxFmt: fmt(rabMax), rabAvgFmt: fmt(rabAvg),\n    feePctMin: feePcts[0], feePctMax: feePcts[1],\n    feeMin, feeMax, feeAvg,\n    feeMinFmt: fmt(feeMin), feeMaxFmt: fmt(feeMax), feeAvgFmt: fmt(feeAvg),\n    ppn, ppnFmt: fmt(ppn),\n    totalFee, totalFeeFmt: fmt(totalFee)\n  }\n}];"
      },
      "id": "calculate",
      "name": "Calculate RAB + Fee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst name = (d.clientName || 'kak').split(' ')[0];\nconst areaNote = d.areaAssumed ? '\\n(estimasi berdasarkan luas 100m2, sesuaikan kalau beda ya)' : '';\nconst feeRange = d.feePctMin !== d.feePctMax ? d.feePctMin + '-' + d.feePctMax + '%' : d.feePctMin + '%';\nconst feeDisplay = d.feePctMin !== d.feePctMax ? d.feeMinFmt + ' - ' + d.feeMaxFmt : d.feeAvgFmt;\n\nconst replyText = `Halo ${name}, ini estimasi dari Syifa ya.\\n\\nProyek: ${d.buildingType} (${d.tier})\\nLuas: ${d.area}m2${areaNote}\\n\\nEstimasi RAB Konstruksi:\\n${d.rabMinFmt} - ${d.rabMaxFmt}\\n(rata-rata ${d.rabAvgFmt})\\n\\nFee Jasa Desain Sudut Ruang (${feeRange} dari RAB):\\n${feeDisplay}\\n\\nPPN 11%: ${d.ppnFmt}\\nTotal Fee Jasa: ${d.totalFeeFmt}\\n\\nIni masih estimasi awal ya, bisa berubah setelah survey dan diskusi detail.\\n\\nMau kita buatkan proposal lengkap?`;\n\nreturn [{ json: { ...d, replyText } }];"
      },
      "id": "build-reply",
      "name": "Build WA Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "wa-send",
      "name": "Send WA — Estimasi",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [900, 160],
      "credentials": {
        "whatsAppApi": { "id": "wa-cred", "name": "WhatsApp Business Cloud" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.from }}\",\n  \"name\": {{ JSON.stringify($json.clientName) }},\n  \"phone\": \"{{ $json.from }}\",\n  \"source\": \"whatsapp\",\n  \"status\": \"estimasi\",\n  \"building_type\": \"{{ $json.buildingType }}\",\n  \"tier\": \"{{ $json.tier }}\",\n  \"area_sqm\": {{ $json.area }},\n  \"rab_avg\": {{ $json.rabAvg }},\n  \"fee_avg\": {{ $json.feeAvg }},\n  \"last_contact_at\": \"{{ $now }}\",\n  \"metadata\": {}\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-upsert-client",
      "name": "Supabase — Upsert Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 360],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      },
      "notes": "Credentials: HTTP Header Auth\nName: Authorization\nValue: Bearer eyJhbGci... (Supabase anon key)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/incoming-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"lastMessage\": {{ JSON.stringify($json.replyText) }},\n  \"mode\": \"ai\",\n  \"intent\": \"ASK_PRICE\",\n  \"needsHuman\": false,\n  \"metadata\": {\n    \"buildingType\": \"{{ $json.buildingType }}\",\n    \"tier\": \"{{ $json.tier }}\",\n    \"areaSqm\": {{ $json.area }},\n    \"estimatedValue\": \"{{ $json.totalFeeFmt }}\"\n  },\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 560]
    }
  ],
  "connections": {
    "Webhook — Trigger from WF1": {
      "main": [[{ "node": "Calculate RAB + Fee", "type": "main", "index": 0 }]]
    },
    "Calculate RAB + Fee": {
      "main": [[{ "node": "Build WA Reply", "type": "main", "index": 0 }]]
    },
    "Build WA Reply": {
      "main": [[
        { "node": "Send WA — Estimasi", "type": "main", "index": 0 },
        { "node": "Supabase — Upsert Client", "type": "main", "index": 0 },
        { "node": "Notify Dashboard", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
