n8n-workflows/workflow-1-incoming-message.json
{
  "name": "Sudut Ruang — 1. Incoming Message Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "wa-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "wa-incoming-sudutruang",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      },
      "notes": "Node trigger resmi WhatsApp Business Cloud.\nCredentials: Settings > Credentials > WhatsApp Business Cloud API\nMasukkan: Phone Number ID, Access Token, App Secret, Verify Token"
    },
    {
      "parameters": {
        "jsCode": "// Parse pesan dari WhatsApp Trigger node\nconst data = $input.first().json;\n\n// WhatsApp trigger sudah parse payload Meta otomatis\n// Format output: { messages: [...], contacts: [...], metadata: {...} }\nconst message = data.messages && data.messages[0];\nconst contact = data.contacts && data.contacts[0];\nconst metadata = data.metadata || {};\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'No message' } }];\n}\n\nif (message.type !== 'text') {\n  return [{ json: { skip: true, reason: 'Non-text: ' + message.type } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    clientName: contact && contact.profile ? contact.profile.name : 'Pelanggan',\n    text: message.text && message.text.body ? message.text.body : '',\n    timestamp: message.timestamp,\n    phoneNumberId: metadata.phone_number_id || '1052743247932102',\n    waBusinessId: metadata.display_phone_number || ''\n  }\n}];"
      },
      "id": "parse-message",
      "name": "Parse WA Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah Syifa, AI assistant untuk bisnis jasa desain arsitektur dan interior bernama Sudut Ruang. Tugasmu: Analisis pesan WhatsApp dari calon klien dan tentukan intent serta ekstrak data. Kembalikan HANYA JSON valid tanpa penjelasan apapun. Format response: {\\\"intent\\\": \\\"GREETING atau ASK_PRICE atau REQUEST_PROPOSAL atau FOLLOW_UP atau GENERAL_QUESTION atau OTHER\\\", \\\"confidence\\\": 0.9, \\\"extracted\\\": {\\\"building_type\\\": \\\"rumah atau cafe atau restoran atau kantor atau villa atau ruko atau renovasi atau null\\\", \\\"tier\\\": \\\"ekonomi atau standar atau menengah atau premium atau null\\\", \\\"area_sqm\\\": null, \\\"service_type\\\": \\\"arsitektur atau interior atau komersial atau lansekap atau pengawasan atau null\\\"}, \\\"needs_human\\\": false, \\\"reason\\\": \\\"alasan singkat\\\"}. Contoh: Halo -> GREETING. Berapa biaya desain cafe 80m2 -> ASK_PRICE building_type cafe area_sqm 80. Bisa dibuatkan proposal -> REQUEST_PROPOSAL. Kapan bisa survey -> GENERAL_QUESTION needs_human true.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "groq-classifier",
      "name": "Groq — Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "groq-cred", "name": "Groq API Header" }
      },
      "notes": "Credentials: HTTP Header Auth\nName: Authorization\nValue: Bearer gsk_xxxxxxxx"
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst raw = groqResponse && groqResponse.choices && groqResponse.choices[0] && groqResponse.choices[0].message ? groqResponse.choices[0].message.content : '';\n\nlet classification;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = { intent: 'OTHER', confidence: 0.5, extracted: {}, needs_human: true, reason: 'Parse failed' };\n}\n\nconst messageData = $('Parse WA Message').first().json;\n\nreturn [{\n  json: {\n    ...messageData,\n    intent: classification.intent || 'OTHER',\n    confidence: classification.confidence || 0.5,\n    extracted: classification.extracted || {},\n    needs_human: classification.needs_human || false,\n    classifierReason: classification.reason || ''\n  }\n}];"
      },
      "id": "parse-classification",
      "name": "Parse Classification Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "GREETING", "operator": { "type": "string", "operation": "equals" } }] },
              "renameOutput": true, "outputKey": "greeting"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "ASK_PRICE", "operator": { "type": "string", "operation": "equals" } }] },
              "renameOutput": true, "outputKey": "ask_price"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "REQUEST_PROPOSAL", "operator": { "type": "string", "operation": "equals" } }] },
              "renameOutput": true, "outputKey": "proposal"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.needs_human }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] },
              "renameOutput": true, "outputKey": "human_needed"
            }
          ],
          "fallbackOutput": "extra"
        }
      },
      "id": "route-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const name = ($json.clientName || 'kak').split(' ')[0];\nconst replies = [\n  'Halo ' + name + ', makasih udah hubungi Sudut Ruang! Saya Syifa, asisten AI-nya.\\n\\nKita bantu desain arsitektur & interior buat rumah, cafe, kantor, villa, dan lainnya.\\n\\nCeritain dulu proyek yang lagi direncanain.',\n  'Hai ' + name + '! Selamat datang di Sudut Ruang. Saya Syifa 😊\\n\\nKita spesialis di jasa desain arsitektur & interior. Mau bangun atau renovasi apa nih?'\n];\nconst reply = replies[Math.floor(Math.random() * replies.length)];\nreturn [{ json: { ...$json, replyText: reply } }];"
      },
      "id": "build-greeting",
      "name": "Build Greeting Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 60]
    },
    {
      "parameters": {
        "jsCode": "const extracted = $json.extracted || {};\nconst hasType = !!extracted.building_type;\nconst hasArea = !!extracted.area_sqm;\n\nif (hasType && hasArea) {\n  return [{ json: { ...$json, triggerEstimator: true, replyText: null } }];\n}\n\nlet replyText;\nif (hasType && !hasArea) {\n  replyText = 'Oke, desain ' + extracted.building_type + ' ya.\\n\\nBerapa luas areanya? (dalam m2)';\n} else if (!hasType && hasArea) {\n  replyText = 'Noted ' + extracted.area_sqm + 'm2.\\n\\nIni untuk apa? Rumah, cafe, kantor, atau yang lain?';\n} else {\n  replyText = 'Boleh ceritain dulu proyeknya:\\n1. Jenis bangunan (rumah/cafe/kantor/villa/renovasi)\\n2. Luas area (m2)\\n3. Kelas material (standar/menengah/premium)\\n\\nBiar kita bisa kasih estimasi yang akurat.';\n}\n\nreturn [{ json: { ...$json, triggerEstimator: false, replyText } }];"
      },
      "id": "check-price-data",
      "name": "Check Data Completeness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "jsCode": "const name = ($json.clientName || 'kak').split(' ')[0];\nconst replyText = 'Siap ' + name + ', kita buatkan proposal lengkapnya.\\n\\nBoleh konfirmasi dulu:\\n1. Nama lengkap\\n2. Jenis proyek & lokasi\\n3. Luas area (m2)\\n4. Budget range yang disiapkan\\n\\nProposal akan kita kirim dalam 1x24 jam.';\nreturn [{ json: { ...$json, replyText, triggerProposal: true } }];"
      },
      "id": "build-proposal-reply",
      "name": "Build Proposal Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    replyText: null,\n    dashboardAlert: {\n      priority: 'high',\n      reason: $json.classifierReason || 'Needs human review',\n      clientName: $json.clientName || 'Pelanggan',\n      lastMessage: $json.text,\n      conversationId: $json.from\n    }\n  }\n}];"
      },
      "id": "flag-human",
      "name": "Flag for Human Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "reply-check",
              "leftValue": "={{ $json.replyText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-reply",
      "name": "Has Reply Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "wa-send-reply",
      "name": "Send WA Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [2000, 120],
      "credentials": {
        "whatsAppApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/incoming-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"lastMessage\": {{ JSON.stringify($json.text) }},\n  \"intent\": \"{{ $json.intent }}\",\n  \"needsHuman\": {{ $json.needs_human }},\n  \"mode\": \"ai\",\n  \"phoneNumberId\": \"1052743247932102\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-estimator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-estimator",
      "name": "Trigger WF2 — Estimator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-proposal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-proposal",
      "name": "Trigger WF3 — Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 720]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "Parse WA Message", "type": "main", "index": 0 }]]
    },
    "Parse WA Message": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [],
        [{ "node": "Groq — Classify Intent", "type": "main", "index": 0 }]
      ]
    },
    "Groq — Classify Intent": {
      "main": [[{ "node": "Parse Classification Result", "type": "main", "index": 0 }]]
    },
    "Parse Classification Result": {
      "main": [[{ "node": "Route by Intent", "type": "main", "index": 0 }]]
    },
    "Route by Intent": {
      "main": [
        [{ "node": "Build Greeting Reply", "type": "main", "index": 0 }],
        [{ "node": "Check Data Completeness", "type": "main", "index": 0 }],
        [{ "node": "Build Proposal Reply", "type": "main", "index": 0 }],
        [{ "node": "Flag for Human Review", "type": "main", "index": 0 }]
      ]
    },
    "Build Greeting Reply": {
      "main": [[{ "node": "Has Reply Text?", "type": "main", "index": 0 }]]
    },
    "Check Data Completeness": {
      "main": [[{ "node": "Has Reply Text?", "type": "main", "index": 0 }]]
    },
    "Build Proposal Reply": {
      "main": [[{ "node": "Has Reply Text?", "type": "main", "index": 0 }]]
    },
    "Flag for Human Review": {
      "main": [[{ "node": "Notify Dashboard", "type": "main", "index": 0 }]]
    },
    "Has Reply Text?": {
      "main": [
        [
          { "node": "Send WA Reply", "type": "main", "index": 0 },
          { "node": "Notify Dashboard", "type": "main", "index": 0 }
        ],
        [
          { "node": "Trigger WF2 — Estimator", "type": "main", "index": 0 },
          { "node": "Trigger WF3 — Proposal", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
