n8n-workflows/workflow-1-incoming-message-v2.json
{
  "name": "Sudut Ruang — 1. Incoming Message Handler (v2)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "wa-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "wa-incoming-sudutruang",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      },
      "notes": "Node trigger resmi WhatsApp Business Cloud.\nCredentials: Settings > Credentials > WhatsApp Business Cloud API\nMasukkan: Phone Number ID, Access Token, App Secret, Verify Token"
    },
    {
      "parameters": {
        "jsCode": "// Parse pesan dari WhatsApp Trigger node\nconst data = $input.first().json;\n\n// WhatsApp trigger sudah parse payload Meta otomatis\n// Format output: { messages: [...], contacts: [...], metadata: {...} }\nconst message = data.messages && data.messages[0];\nconst contact = data.contacts && data.contacts[0];\nconst metadata = data.metadata || {};\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'No message' } }];\n}\n\nif (message.type !== 'text') {\n  return [{ json: { skip: true, reason: 'Non-text: ' + message.type } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    clientName: contact && contact.profile ? contact.profile.name : 'Pelanggan',\n    text: message.text && message.text.body ? message.text.body : '',\n    timestamp: message.timestamp,\n    phoneNumberId: metadata.phone_number_id || '1052743247932102',\n    waBusinessId: metadata.display_phone_number || ''\n  }\n}];"
      },
      "id": "parse-message",
      "name": "Parse WA Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah AI classifier untuk bisnis jasa desain arsitektur dan interior bernama Sudut Ruang. Tugasmu: Analisis pesan WhatsApp dari calon klien dan tentukan intent serta ekstrak data. Kembalikan HANYA JSON valid tanpa penjelasan apapun. Format response: {\\\"intent\\\": \\\"GREETING atau ASK_PRICE atau REQUEST_PROPOSAL atau FOLLOW_UP atau GENERAL_QUESTION atau OTHER\\\", \\\"confidence\\\": 0.9, \\\"extracted\\\": {\\\"building_type\\\": \\\"rumah atau cafe atau restoran atau kantor atau villa atau ruko atau renovasi atau null\\\", \\\"tier\\\": \\\"ekonomi atau standar atau menengah atau premium atau null\\\", \\\"area_sqm\\\": null, \\\"service_type\\\": \\\"arsitektur atau interior atau komersial atau lansekap atau pengawasan atau null\\\"}, \\\"needs_human\\\": false, \\\"reason\\\": \\\"alasan singkat\\\"}. PENTING: Selalu klasifikasikan walau pesan singkat. Pesan seperti halo/hai/hi/p/test/ada org/yo/assalamualaikum/permisi -> GREETING dengan confidence 0.95. Pesan tidak jelas/asal -> OTHER dengan confidence 0.4. Kalau ragu antara dua intent, pilih yang paling masuk akal. Contoh: 'Halo' -> GREETING. 'Berapa biaya desain cafe 80m2' -> ASK_PRICE building_type cafe area_sqm 80. 'Bisa dibuatkan proposal' -> REQUEST_PROPOSAL. 'Kapan bisa survey' -> GENERAL_QUESTION needs_human true.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "groq-classifier",
      "name": "Groq — Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "groq-cred", "name": "Groq API Header" }
      },
      "notes": "Credentials: HTTP Header Auth\nName: Authorization\nValue: Bearer gsk_xxxxxxxx"
    },
    {
      "parameters": {
        "jsCode": "// Parse output Groq → flat object yang bisa dipakai Build Decision\nconst groqResponse = $input.first().json;\nconst raw =\n  groqResponse &&\n  groqResponse.choices &&\n  groqResponse.choices[0] &&\n  groqResponse.choices[0].message\n    ? groqResponse.choices[0].message.content\n    : '';\n\nlet classification;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  // Kalau Groq gagal / parse error → fallback aman, jangan ghosting\n  classification = {\n    intent: 'OTHER',\n    confidence: 0.3,\n    extracted: {},\n    needs_human: true,\n    reason: 'Classifier parse failed: ' + e.message\n  };\n}\n\nconst messageData = $('Parse WA Message').first().json;\n\nreturn [\n  {\n    json: {\n      ...messageData,\n      intent: classification.intent || 'OTHER',\n      confidence: typeof classification.confidence === 'number' ? classification.confidence : 0.5,\n      extracted: classification.extracted || {},\n      needs_human: !!classification.needs_human,\n      classifierReason: classification.reason || ''\n    }\n  }\n];"
      },
      "id": "parse-classification",
      "name": "Parse Classification Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// BUILD DECISION — Single source of truth untuk balasan WA\n// =====================================================================\n// Aturan emas: replyText TIDAK PERNAH null. Semua pesan masuk DIBALAS.\n// triggerEstimator/triggerProposal hanya true kalau benar-benar siap.\n// =====================================================================\n\nconst j = $json;\nconst rawName = (j.clientName || 'kak').toString().trim();\nconst name = rawName.split(' ')[0] || 'kak';\n\nconst intent = j.intent || 'OTHER';\nconst confidence = typeof j.confidence === 'number' ? j.confidence : 0.5;\nconst ext = j.extracted || {};\nconst explicitNeedsHuman = !!j.needs_human;\n\n// Low confidence dianggap butuh human supaya ga kasih balasan random\nconst needsHuman = explicitNeedsHuman || confidence < 0.45;\n\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nlet replyText = '';\nlet actionType = 'fallback';\nlet triggerEstimator = false;\nlet triggerProposal = false;\n\nif (needsHuman) {\n  replyText =\n    'Halo ' + name +\n    ', makasih udah hubungi Sudut Ruang. Pertanyaan kakak akan kita teruskan ke tim ya, mohon ditunggu sebentar.';\n  actionType = 'human';\n} else if (intent === 'GREETING') {\n  replyText = pick([\n    'Halo ' + name +\n      ', makasih udah hubungi Sudut Ruang!\\n\\nKita bantu desain arsitektur & interior untuk rumah, cafe, kantor, villa, dan lainnya.\\n\\nCeritain dulu proyek yang lagi kakak rencanain.',\n    'Hai ' + name +\n      '! Selamat datang di Sudut Ruang.\\n\\nKita spesialis jasa desain arsitektur & interior. Mau bangun atau renovasi apa nih?',\n    'Halo ' + name +\n      '! Sudut Ruang di sini. Boleh share dulu kakak lagi rencanain proyek apa? (rumah/cafe/kantor/villa/lainnya)'\n  ]);\n  actionType = 'greeting';\n} else if (intent === 'ASK_PRICE') {\n  const hasType = !!ext.building_type;\n  const hasArea = !!ext.area_sqm;\n  if (hasType && hasArea) {\n    replyText =\n      'Oke ' + name + ', lagi kita hitungin estimasi buat ' +\n      ext.building_type + ' ' + ext.area_sqm +\n      'm². Tunggu sebentar ya, hasilnya kita kirim segera.';\n    actionType = 'estimator';\n    triggerEstimator = true;\n  } else if (hasType) {\n    replyText =\n      'Oke, desain ' + ext.building_type +\n      ' ya.\\n\\nBerapa luas areanya? (dalam m²)\\n\\nSama, kelas materialnya mau standar, menengah, atau premium?';\n    actionType = 'collect_info';\n  } else if (hasArea) {\n    replyText =\n      'Noted ' + ext.area_sqm +\n      'm².\\n\\nIni untuk apa ya? Rumah, cafe, kantor, villa, atau yang lain?';\n    actionType = 'collect_info';\n  } else {\n    replyText =\n      'Boleh ceritain dulu proyeknya:\\n1. Jenis bangunan (rumah/cafe/kantor/villa/renovasi)\\n2. Luas area (m²)\\n3. Kelas material (standar/menengah/premium)\\n\\nBiar kita bisa kasih estimasi yang akurat.';\n    actionType = 'collect_info';\n  }\n} else if (intent === 'REQUEST_PROPOSAL') {\n  replyText =\n    'Siap ' + name +\n    ', kita siapin proposal lengkapnya sekarang.\\n\\nProposal akan kita kirim ke WhatsApp ini dalam beberapa menit ya. Tunggu sebentar!';\n  actionType = 'proposal';\n  triggerProposal = true;\n} else if (intent === 'FOLLOW_UP') {\n  replyText =\n    'Halo ' + name +\n    ', makasih udah follow up. Tim kita lagi cek dan bakal update kakak segera ya.';\n  actionType = 'human';\n} else if (intent === 'GENERAL_QUESTION') {\n  replyText =\n    'Pertanyaan kakak udah kita catat. Tim kita akan jawab langsung biar lebih akurat ya, mohon ditunggu sebentar.';\n  actionType = 'human';\n} else {\n  // OTHER — TETAP balas, jangan ghosting\n  replyText =\n    'Halo ' + name +\n    ', makasih udah hubungi Sudut Ruang.\\n\\nBoleh ceritain lebih detail tentang proyeknya?\\n• Jenis bangunan (rumah/cafe/kantor/villa)\\n• Luas area\\n• Lokasi';\n  actionType = 'fallback';\n}\n\nreturn [\n  {\n    json: {\n      ...j,\n      replyText: replyText,\n      actionType: actionType,\n      triggerEstimator: triggerEstimator,\n      triggerProposal: triggerProposal,\n      finalNeedsHuman: needsHuman\n    }\n  }\n];"
      },
      "id": "build-decision",
      "name": "Build Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "wa-send-reply",
      "name": "Send WA Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1560, 100],
      "credentials": {
        "whatsAppApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      },
      "notes": "Selalu kirim replyText. Build Decision menjamin replyText non-empty."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/incoming-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"lastMessage\": {{ JSON.stringify($json.text) }},\n  \"intent\": \"{{ $json.intent }}\",\n  \"actionType\": \"{{ $json.actionType }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"needsHuman\": {{ $json.finalNeedsHuman }},\n  \"mode\": \"ai\",\n  \"phoneNumberId\": \"1052743247932102\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "trigger-est-check",
              "leftValue": "={{ $json.triggerEstimator }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-trigger-estimator",
      "name": "Should Trigger Estimator?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-estimator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-estimator",
      "name": "Trigger WF2 — Estimator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "trigger-prop-check",
              "leftValue": "={{ $json.triggerProposal }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-trigger-proposal",
      "name": "Should Trigger Proposal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-proposal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-proposal",
      "name": "Trigger WF3 — Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 640]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "Parse WA Message", "type": "main", "index": 0 }]]
    },
    "Parse WA Message": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [],
        [{ "node": "Groq — Classify Intent", "type": "main", "index": 0 }]
      ]
    },
    "Groq — Classify Intent": {
      "main": [[{ "node": "Parse Classification Result", "type": "main", "index": 0 }]]
    },
    "Parse Classification Result": {
      "main": [[{ "node": "Build Decision", "type": "main", "index": 0 }]]
    },
    "Build Decision": {
      "main": [
        [
          { "node": "Send WA Reply", "type": "main", "index": 0 },
          { "node": "Notify Dashboard", "type": "main", "index": 0 },
          { "node": "Should Trigger Estimator?", "type": "main", "index": 0 },
          { "node": "Should Trigger Proposal?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Should Trigger Estimator?": {
      "main": [
        [{ "node": "Trigger WF2 — Estimator", "type": "main", "index": 0 }],
        []
      ]
    },
    "Should Trigger Proposal?": {
      "main": [
        [{ "node": "Trigger WF3 — Proposal", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{ "name": "sudut-ruang" }, { "name": "v2" }]
}
