n8n-workflows/workflow-6-toggle-mode.json
{
  "name": "Sudut Ruang — 6. Toggle Mode (AI <-> Manual)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "toggle-mode",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-toggle",
      "name": "Webhook — Toggle Mode",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "toggle-mode-sudutruang",
      "notes": "Dipanggil dashboard saat operator klik 'Ambil Alih' / 'Kembali ke AI'.\nPayload: { conversationId, mode, triggeredBy, timestamp }"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/conversations?id=eq.{{ $json.conversationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": {{ JSON.stringify($json.mode || 'ai') }},\n  \"human_operator\": {{ JSON.stringify($json.triggeredBy || null) }},\n  \"updated_at\": \"{{ $now }}\"\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-update-mode",
      "name": "Supabase — Update Mode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      },
      "notes": "Set conversations.mode = ai|manual.\nWF1 membaca kolom ini sebelum auto-reply, jadi saat manual AI berhenti membalas."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"conversationId\": $('Webhook — Toggle Mode').first().json.conversationId, \"mode\": $('Webhook — Toggle Mode').first().json.mode, \"timestamp\": $now } }}"
      },
      "id": "respond-toggle",
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook — Toggle Mode": {
      "main": [[{ "node": "Supabase — Update Mode", "type": "main", "index": 0 }]]
    },
    "Supabase — Update Mode": {
      "main": [[{ "node": "Respond to Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
