n8n-workflows/workflow-4-supabase-sync.json
{
  "name": "Sudut Ruang — 4. Supabase Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-conversation",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-sync",
      "name": "Webhook — Receive from WF1/WF2/WF3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Semua workflow kirim data ke sini untuk disimpan ke Supabase.\nPayload: { conversationId, clientName, source, lastMessage, intent, mode, metadata, timestamp }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\n// Upsert conversation\nconst convData = {\n  id: body.conversationId || body.from,\n  client_name: body.clientName || 'Pelanggan',\n  source: body.source || 'whatsapp',\n  mode: body.mode || 'ai',\n  status: 'active',\n  last_message: body.lastMessage || '',\n  last_message_at: body.timestamp || new Date().toISOString(),\n  unread_count: body.mode === 'ai' ? 1 : 0,\n  metadata: body.metadata || {}\n};\n\n// Message data kalau ada pesan\nconst msgData = body.lastMessage ? {\n  conversation_id: body.conversationId || body.from,\n  content: body.lastMessage,\n  role: body.intent === 'incoming' ? 'client' : 'ai',\n  source: body.source || 'whatsapp',\n  ai_confidence: body.aiConfidence || null,\n  needs_human_review: body.needsHuman || false,\n  metadata: {}\n} : null;\n\nreturn [{ json: { convData, msgData, original: body } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Supabase Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.convData) }}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-upsert-conv",
      "name": "Supabase — Upsert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      },
      "notes": "Credentials: HTTP Header Auth\nName: Authorization\nValue: Bearer eyJhbGci... (Supabase anon key)"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.msgData }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      },
      "id": "if-has-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.msgData) }}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-insert-msg",
      "name": "Supabase — Insert Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.original.conversationId || $json.original.from }}\",\n  \"name\": {{ JSON.stringify($json.original.clientName || 'Pelanggan') }},\n  \"phone\": \"{{ $json.original.conversationId || $json.original.from }}\",\n  \"source\": \"{{ $json.original.source || 'whatsapp' }}\",\n  \"status\": \"lead\",\n  \"building_type\": {{ JSON.stringify($json.original.metadata && $json.original.metadata.buildingType || null) }},\n  \"tier\": {{ JSON.stringify($json.original.metadata && $json.original.metadata.tier || null) }},\n  \"area_sqm\": {{ $json.original.metadata && $json.original.metadata.areaSqm || 'null' }},\n  \"last_contact_at\": \"{{ $json.original.timestamp || $now }}\",\n  \"metadata\": {{ JSON.stringify($json.original.metadata || {}) }}\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-upsert-client",
      "name": "Supabase — Upsert Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    }
  ],
  "connections": {
    "Webhook — Receive from WF1/WF2/WF3": {
      "main": [[{ "node": "Prepare Supabase Data", "type": "main", "index": 0 }]]
    },
    "Prepare Supabase Data": {
      "main": [[
        { "node": "Supabase — Upsert Conversation", "type": "main", "index": 0 },
        { "node": "Has Message?", "type": "main", "index": 0 },
        { "node": "Supabase — Upsert Client", "type": "main", "index": 0 }
      ]]
    },
    "Has Message?": {
      "main": [
        [{ "node": "Supabase — Insert Message", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
