n8n-workflows/workflow-1-incoming-message-v3.json
{
  "name": "Sudut Ruang — 1. Incoming Message Handler (v3 with Memory)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "wa-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "webhookId": "wa-incoming-sudutruang",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse pesan dari WhatsApp Trigger\nconst data = $input.first().json;\nconst message = data.messages && data.messages[0];\nconst contact = data.contacts && data.contacts[0];\nconst metadata = data.metadata || {};\n\nif (!message) return [{ json: { skip: true, reason: 'No message' } }];\nif (message.type !== 'text') return [{ json: { skip: true, reason: 'Non-text: ' + message.type } }];\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    clientName: contact && contact.profile ? contact.profile.name : 'Pelanggan',\n    text: message.text && message.text.body ? message.text.body : '',\n    timestamp: message.timestamp,\n    phoneNumberId: metadata.phone_number_id || '1052743247932102',\n    waBusinessId: metadata.display_phone_number || ''\n  }\n}];"
      },
      "id": "parse-message",
      "name": "Parse WA Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.from }}\",\n  \"client_name\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"status\": \"active\",\n  \"last_message\": {{ JSON.stringify($json.text) }},\n  \"last_message_at\": \"{{ $now }}\",\n  \"unread_count\": 1,\n  \"updated_at\": \"{{ $now }}\"\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "save-conversation-incoming",
      "name": "Save Conversation (incoming)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 280],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      },
      "notes": "Upsert conversation. PENTING: customer message LANGSUNG masuk Supabase walau Groq atau Send WA error nanti. Zero ghosting."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json.from }}\",\n  \"content\": {{ JSON.stringify($json.text) }},\n  \"role\": \"client\",\n  \"source\": \"whatsapp\",\n  \"ai_confidence\": null,\n  \"needs_human_review\": false,\n  \"metadata\": { \"messageId\": {{ JSON.stringify($json.messageId) }} }\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "save-message-incoming",
      "name": "Save Message (client)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 460],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/messages?conversation_id=eq.{{ $('Parse WA Message').first().json.from }}&order=created_at.desc&limit=10&select=role,content,created_at",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "headers": {
            "entries": [
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "fetch-history",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 460],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      },
      "notes": "Ambil 10 pesan terakhir dari conversation ini sebagai memory.\nDi-pass ke Groq supaya Syifa bisa ngingat konteks percakapan."
    },
    {
      "parameters": {
        "jsCode": "// Build memory context untuk Groq\nconst messageData = $('Parse WA Message').first().json;\nconst rawHistory = $input.first().json;\n\n// rawHistory bisa berupa array langsung atau wrapped object\nconst history = Array.isArray(rawHistory) ? rawHistory : (rawHistory.data || []);\n\n// Reverse jadi chronological order (lama → baru), exclude pesan saat ini (yg baru aja di-save)\nconst chronological = history.slice().reverse();\n\n// Format jadi chat history Groq (max 8 pesan supaya hemat token)\nconst chatHistory = chronological.slice(-8).map((m) => ({\n  role: m.role === 'client' ? 'user' : 'assistant',\n  content: m.content || ''\n}));\n\n// Build human-readable memory summary untuk dipass ke prompt\nconst memorySummary = chatHistory.length > 1\n  ? '--- Percakapan sebelumnya ---\\n' + chatHistory.slice(0, -1).map(m => (m.role === 'user' ? 'Customer: ' : 'Syifa: ') + m.content).join('\\n')\n  : '(Belum ada percakapan sebelumnya)';\n\nreturn [{\n  json: {\n    ...messageData,\n    chatHistory,\n    memorySummary,\n    historyCount: chronological.length\n  }\n}];"
      },
      "id": "build-memory",
      "name": "Build Memory Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 600,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah Syifa, AI customer assistant di Sudut Ruang — bisnis jasa desain arsitektur dan interior. Karakter: ramah, profesional, friendly, cekatan.\\n\\nTUGAS: Analisis pesan TERAKHIR dari customer DENGAN MEMPERHATIKAN KONTEKS percakapan sebelumnya. Kembalikan HANYA JSON valid.\\n\\nFormat response: {\\\"intent\\\": \\\"GREETING|ASK_PRICE|REQUEST_PROPOSAL|FOLLOW_UP|GENERAL_QUESTION|OTHER\\\", \\\"confidence\\\": 0.9, \\\"extracted\\\": {\\\"building_type\\\": \\\"rumah|cafe|restoran|kantor|villa|ruko|renovasi|null\\\", \\\"tier\\\": \\\"ekonomi|standar|menengah|premium|null\\\", \\\"area_sqm\\\": null, \\\"service_type\\\": \\\"arsitektur|interior|komersial|lansekap|pengawasan|null\\\"}, \\\"needs_human\\\": false, \\\"reason\\\": \\\"alasan singkat\\\"}.\\n\\nATURAN MEMORY-AWARE:\\n- Kalau Syifa sebelumnya nanya 'mau bangun apa?' dan customer jawab 'rumah' → intent ASK_PRICE, extracted.building_type=rumah\\n- Kalau Syifa sebelumnya nanya luas dan customer jawab '80m2' atau '80' → extracted.area_sqm=80, intent=ASK_PRICE\\n- Kalau Syifa sebelumnya nanya tier dan customer jawab 'menengah' → extracted.tier=menengah, intent=ASK_PRICE\\n- Pesan singkat (halo/hai/hi/p/test/yo/permisi) → GREETING confidence 0.95\\n- Pesan menyebut Syifa → GREETING confidence 0.95\\n- Kalau ekstraksi sudah lengkap (type+area), intent=ASK_PRICE dan SIAP trigger estimator\\n- Kalau ragu, pilih yang paling masuk akal berdasarkan KONTEKS\\n\\nKonteks percakapan sebelumnya akan diberikan di pesan user.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=KONTEKS PERCAKAPAN:\\n{{ $json.memorySummary }}\\n\\n--- PESAN BARU YANG DIKLASIFIKASI ---\\nCustomer: {{ $json.text }}\\n\\nKlasifikasikan pesan terakhir di atas dengan JSON.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "groq-classifier",
      "name": "Groq — Classify with Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 460],
      "credentials": {
        "httpHeaderAuth": { "id": "groq-cred", "name": "Groq API Header" }
      },
      "notes": "Memory-aware classifier. response_format=json_object force Groq return JSON valid."
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq output\nconst groqResponse = $input.first().json;\nconst raw = groqResponse?.choices?.[0]?.message?.content || '';\n\nlet classification;\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = {\n    intent: 'OTHER',\n    confidence: 0.3,\n    extracted: {},\n    needs_human: true,\n    reason: 'Classifier parse failed: ' + e.message\n  };\n}\n\nconst messageData = $('Build Memory Context').first().json;\n\nreturn [{\n  json: {\n    ...messageData,\n    intent: classification.intent || 'OTHER',\n    confidence: typeof classification.confidence === 'number' ? classification.confidence : 0.5,\n    extracted: classification.extracted || {},\n    needs_human: !!classification.needs_human,\n    classifierReason: classification.reason || ''\n  }\n}];"
      },
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 460]
    },
    {
      "parameters": {
        "jsCode": "// BUILD DECISION — Single source of truth untuk balasan WA Syifa\n// Aturan emas: replyText TIDAK PERNAH null. Persona: Syifa.\n\nconst j = $json;\nconst rawName = (j.clientName || 'kak').toString().trim();\nconst name = rawName.split(' ')[0] || 'kak';\n\nconst intent = j.intent || 'OTHER';\nconst confidence = typeof j.confidence === 'number' ? j.confidence : 0.5;\nconst ext = j.extracted || {};\nconst explicitNeedsHuman = !!j.needs_human;\n\nconst needsHuman = explicitNeedsHuman || confidence < 0.45;\n\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nlet replyText = '';\nlet actionType = 'fallback';\nlet triggerEstimator = false;\nlet triggerProposal = false;\n\nif (needsHuman) {\n  replyText = 'Halo ' + name + ', aku Syifa dari Sudut Ruang. Pertanyaan kakak akan aku teruskan ke tim ya, mohon ditunggu sebentar 🙏';\n  actionType = 'human';\n} else if (intent === 'GREETING') {\n  replyText = pick([\n    'Halo ' + name + '! Aku Syifa, AI assistant dari Sudut Ruang ✨\\n\\nKita bantu desain arsitektur & interior untuk rumah, cafe, kantor, villa, dan lainnya.\\n\\nCeritain dulu proyek yang lagi kakak rencanain.',\n    'Hai ' + name + '! Aku Syifa dari Sudut Ruang 👋\\n\\nKita spesialis jasa desain arsitektur & interior. Mau bangun atau renovasi apa nih?',\n    'Halo ' + name + '! Syifa di sini, dari tim Sudut Ruang ✨\\n\\nBoleh share dulu kakak lagi rencanain proyek apa? (rumah/cafe/kantor/villa/lainnya)'\n  ]);\n  actionType = 'greeting';\n} else if (intent === 'ASK_PRICE') {\n  const hasType = !!ext.building_type;\n  const hasArea = !!ext.area_sqm;\n  if (hasType && hasArea) {\n    replyText = 'Oke ' + name + ', Syifa lagi hitungin estimasi buat ' + ext.building_type + ' ' + ext.area_sqm + 'm². Tunggu sebentar ya, hasilnya aku kirim segera 📊';\n    actionType = 'estimator';\n    triggerEstimator = true;\n  } else if (hasType) {\n    replyText = 'Oke, desain ' + ext.building_type + ' ya. Aku Syifa, bantu kakak hitung estimasinya 😊\\n\\nBerapa luas areanya? (dalam m²)\\n\\nSama, kelas materialnya mau standar, menengah, atau premium?';\n    actionType = 'collect_info';\n  } else if (hasArea) {\n    replyText = 'Noted ' + ext.area_sqm + 'm². Aku Syifa, bantu kakak hitung estimasinya ya 😊\\n\\nIni untuk apa ya? Rumah, cafe, kantor, villa, atau yang lain?';\n    actionType = 'collect_info';\n  } else {\n    replyText = 'Halo ' + name + ', aku Syifa dari Sudut Ruang ✨\\n\\nBoleh ceritain dulu proyeknya:\\n1. Jenis bangunan (rumah/cafe/kantor/villa/renovasi)\\n2. Luas area (m²)\\n3. Kelas material (standar/menengah/premium)\\n\\nBiar aku bisa kasih estimasi yang akurat.';\n    actionType = 'collect_info';\n  }\n} else if (intent === 'REQUEST_PROPOSAL') {\n  replyText = 'Siap ' + name + ', aku Syifa siapin proposal lengkapnya sekarang.\\n\\nProposal akan aku kirim ke WhatsApp ini dalam beberapa menit ya. Tunggu sebentar! 📋';\n  actionType = 'proposal';\n  triggerProposal = true;\n} else if (intent === 'FOLLOW_UP') {\n  replyText = 'Halo ' + name + ', Syifa di sini. Makasih udah follow up ya. Tim kita lagi cek dan bakal update kakak segera 🙌';\n  actionType = 'human';\n} else if (intent === 'GENERAL_QUESTION') {\n  replyText = 'Halo ' + name + ', aku Syifa. Pertanyaan kakak udah aku catat. Tim kita akan jawab langsung biar lebih akurat ya, mohon ditunggu sebentar 🙏';\n  actionType = 'human';\n} else {\n  replyText = 'Halo ' + name + '! Aku Syifa dari Sudut Ruang ✨\\n\\nBoleh ceritain lebih detail tentang proyeknya?\\n• Jenis bangunan (rumah/cafe/kantor/villa)\\n• Luas area\\n• Lokasi';\n  actionType = 'fallback';\n}\n\nreturn [{\n  json: {\n    ...j,\n    replyText,\n    actionType,\n    triggerEstimator,\n    triggerProposal,\n    finalNeedsHuman: needsHuman\n  }\n}];"
      },
      "id": "build-decision",
      "name": "Build Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 460]
    },
    {
      "parameters": {
        "jsCode": "// GATE: hormati mode percakapan. Kalau operator sudah 'Take Over' (mode=manual),\n// AI BERHENTI membalas. Customer message tetap tersimpan (sudah di-save di awal).\nconst j = $json;\nconst SUPABASE_URL = 'https://wbfqudrzwsnlzevxjlkm.supabase.co';\nconst ANON = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc';\nlet mode = 'ai';\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/conversations?id=eq.' + encodeURIComponent(j.from) + '&select=mode',\n    headers: { apikey: ANON, Authorization: 'Bearer ' + ANON },\n    json: true\n  });\n  if (Array.isArray(res) && res[0] && res[0].mode) mode = res[0].mode;\n} catch (e) {\n  // Kalau gagal cek mode, default tetap kirim (fail-open) supaya customer tidak ghosting.\n  mode = 'ai';\n}\nif (mode === 'manual') {\n  // Operator sedang menangani manual -> jangan balas otomatis.\n  return [];\n}\nreturn [{ json: { ...j, conversationMode: mode } }];"
      },
      "id": "check-mode-gate",
      "name": "AI Active? (Mode Gate)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 360],
      "notes": "Cek conversations.mode di Supabase. Kalau 'manual' (operator take over), hentikan auto-reply AI. Kalau 'ai', lanjut kirim."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json.from }}\",\n  \"content\": {{ JSON.stringify($json.replyText) }},\n  \"role\": \"ai\",\n  \"source\": \"whatsapp\",\n  \"ai_confidence\": {{ $json.confidence }},\n  \"needs_human_review\": {{ $json.finalNeedsHuman }},\n  \"metadata\": { \"intent\": {{ JSON.stringify($json.intent) }}, \"actionType\": {{ JSON.stringify($json.actionType) }}, \"reasonAI\": {{ JSON.stringify($json.classifierReason) }} }\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "save-ai-reply",
      "name": "Save AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 280],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/conversations?id=eq.{{ $json.from }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_message\": {{ JSON.stringify($json.replyText) }},\n  \"last_message_at\": \"{{ $now }}\",\n  \"updated_at\": \"{{ $now }}\",\n  \"metadata\": { \"lastIntent\": {{ JSON.stringify($json.intent) }}, \"lastConfidence\": {{ $json.confidence }}, \"actionType\": {{ JSON.stringify($json.actionType) }}, \"buildingType\": {{ JSON.stringify($json.extracted.building_type || null) }}, \"tier\": {{ JSON.stringify($json.extracted.tier || null) }}, \"areaSqm\": {{ $json.extracted.area_sqm || 'null' }} }\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "update-conversation",
      "name": "Update Conversation Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 460],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "messageType": "text",
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "wa-send-reply",
      "name": "Send WA Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [2000, 640],
      "credentials": {
        "whatsAppApi": {
          "id": "wa-cred",
          "name": "WhatsApp Business Cloud"
        }
      },
      "notes": "Send Message - Text - free-form. Operation explicit untuk avoid default sendTemplate."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "trigger-est",
              "leftValue": "={{ $json.triggerEstimator }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-estimator",
      "name": "Should Trigger Estimator?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 820]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-estimator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-estimator",
      "name": "Trigger WF2 — Estimator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 820]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "trigger-prop",
              "leftValue": "={{ $json.triggerProposal }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-proposal",
      "name": "Should Trigger Proposal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/wa-proposal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"phoneNumberId\": \"1052743247932102\",\n  \"extracted\": {{ JSON.stringify($json.extracted) }}\n}",
        "options": {}
      },
      "id": "trigger-proposal",
      "name": "Trigger WF3 — Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 1000]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "Parse WA Message", "type": "main", "index": 0 }]]
    },
    "Parse WA Message": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [],
        [
          { "node": "Save Conversation (incoming)", "type": "main", "index": 0 },
          { "node": "Save Message (client)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Message (client)": {
      "main": [[{ "node": "Fetch Conversation History", "type": "main", "index": 0 }]]
    },
    "Fetch Conversation History": {
      "main": [[{ "node": "Build Memory Context", "type": "main", "index": 0 }]]
    },
    "Build Memory Context": {
      "main": [[{ "node": "Groq — Classify with Memory", "type": "main", "index": 0 }]]
    },
    "Groq — Classify with Memory": {
      "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]]
    },
    "Parse Classification": {
      "main": [[{ "node": "Build Decision", "type": "main", "index": 0 }]]
    },
    "Build Decision": {
      "main": [[
        { "node": "AI Active? (Mode Gate)", "type": "main", "index": 0 }
      ]]
    },
    "AI Active? (Mode Gate)": {
      "main": [[
        { "node": "Save AI Reply", "type": "main", "index": 0 },
        { "node": "Update Conversation Memory", "type": "main", "index": 0 },
        { "node": "Send WA Reply", "type": "main", "index": 0 },
        { "node": "Should Trigger Estimator?", "type": "main", "index": 0 },
        { "node": "Should Trigger Proposal?", "type": "main", "index": 0 }
      ]]
    },
    "Should Trigger Estimator?": {
      "main": [
        [{ "node": "Trigger WF2 — Estimator", "type": "main", "index": 0 }],
        []
      ]
    },
    "Should Trigger Proposal?": {
      "main": [
        [{ "node": "Trigger WF3 — Proposal", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "tags": [{ "name": "sudut-ruang" }, { "name": "v3" }, { "name": "memory" }]
}
