n8n-workflows/workflow-3-proposal-generator.json
{
  "name": "Sudut Ruang — 3. Proposal Generator (Syifa)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-proposal",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-proposal",
      "name": "Webhook — Trigger Proposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Dipanggil dari WF1 (intent=REQUEST_PROPOSAL).\nPayload: { from, clientName, phoneNumberId, extracted }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nlet extracted = body.extracted;\nif (typeof extracted === 'string') {\n  try { extracted = JSON.parse(extracted); } catch(e) { extracted = {}; }\n}\n\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst proposalNo = 'SR-' + now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\n\nconst fmt = (n) => {\n  if (!n) return 'TBD';\n  if (n >= 1000000000) return 'Rp ' + (n/1000000000).toFixed(1) + ' M';\n  if (n >= 1000000) return 'Rp ' + Math.round(n/1000000) + ' jt';\n  return new Intl.NumberFormat('id-ID',{style:'currency',currency:'IDR',minimumFractionDigits:0}).format(n);\n};\nconst fmtFull = (n) => {\n  if (!n) return 'TBD';\n  return new Intl.NumberFormat('id-ID',{style:'currency',currency:'IDR',minimumFractionDigits:0}).format(n);\n};\n\n// Hitung estimasi kalau tidak ada dari WF2\nconst priceTable = {\n  'rumah': [5000000, 6000000],\n  'cafe': [5500000, 7000000],\n  'kantor': [4500000, 6000000],\n  'villa': [6000000, 8000000],\n  'renovasi': [2500000, 4000000]\n};\nconst rawType = (extracted.building_type || 'rumah').toLowerCase();\nconst area = extracted.area_sqm || 100;\nconst typeKey = Object.keys(priceTable).find(k => rawType.includes(k)) || 'rumah';\nconst prices = priceTable[typeKey];\nconst defaultRabAvg = ((prices[0] + prices[1]) / 2) * area;\n\nconst rabAvg = body.rabAvg || defaultRabAvg;\nconst feeAvg = body.feeAvg || (rabAvg * 0.07);\nconst ppn = feeAvg * 0.11;\nconst totalFee = feeAvg + ppn;\nconst dp30 = totalFee * 0.30;\nconst prog40 = totalFee * 0.40;\nconst final30 = totalFee * 0.30;\n\nconst buildingType = extracted.building_type || body.buildingType || 'Bangunan';\nconst tier = extracted.tier || body.tier || 'Standar';\nconst serviceType = extracted.service_type || body.serviceCategory || 'Arsitektur';\n\nconst validDate = new Date(now.getTime() + 14*24*60*60*1000);\nconst dateOpts = {day:'numeric', month:'long', year:'numeric'};\n\nreturn [{\n  json: {\n    from: body.from,\n    clientName: body.clientName || 'Bapak/Ibu',\n    phoneNumberId: body.phoneNumberId || '1052743247932102',\n    proposalNo,\n    buildingType, tier, area, serviceType,\n    rabAvg, rabFmt: fmt(rabAvg),\n    feeAvg, feeFmt: fmt(feeAvg), feeFmtFull: fmtFull(feeAvg),\n    ppn, ppnFmt: fmt(ppn), ppnFmtFull: fmtFull(ppn),\n    totalFee, totalFeeFmt: fmt(totalFee), totalFeeFmtFull: fmtFull(totalFee),\n    dp30Fmt: fmtFull(dp30), prog40Fmt: fmtFull(prog40), final30Fmt: fmtFull(final30),\n    dateFormatted: now.toLocaleDateString('id-ID', dateOpts),\n    validUntil: validDate.toLocaleDateString('id-ID', dateOpts),\n    validUntilISO: validDate.toISOString()\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Proposal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst name = (d.clientName || 'kak').split(' ')[0];\n\nconst html = `<!DOCTYPE html><html lang=\"id\"><head><meta charset=\"UTF-8\"><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a}.page{padding:48px;max-width:800px;margin:0 auto}.header{display:flex;justify-content:space-between;padding-bottom:24px;border-bottom:3px solid #1a1a1a;margin-bottom:32px}.brand h1{font-size:24px;font-weight:900}.brand p{font-size:12px;color:#666}.info{text-align:right;font-size:12px;color:#666}.client-box{background:#f5f5f5;border-left:4px solid #1a1a1a;padding:16px 20px;margin-bottom:32px}.section{margin-bottom:28px}.section-title{font-size:11px;text-transform:uppercase;letter-spacing:0.8px;color:#888;margin-bottom:12px;padding-bottom:8px;border-bottom:1px solid #e0e0e0}table{width:100%;border-collapse:collapse}th{background:#1a1a1a;color:white;padding:10px 12px;text-align:left;font-size:11px;text-transform:uppercase}td{padding:10px 12px;border-bottom:1px solid #eee}.td-right{text-align:right;font-family:monospace}.row-grand td{background:#1a1a1a;color:white;font-weight:700}.payment-grid{display:grid;grid-template-columns:1fr 1fr 1fr;gap:12px}.payment-item{background:#f5f5f5;padding:16px;border-radius:4px;text-align:center}.pct{font-size:24px;font-weight:900}.terms-list{list-style:none}.terms-list li{padding:4px 0 4px 16px;position:relative;font-size:12px;color:#444}.terms-list li::before{content:\"\\\\2014\";position:absolute;left:0;color:#999}.footer{margin-top:48px;padding-top:24px;border-top:1px solid #e0e0e0;display:flex;justify-content:space-between}.sig-line{width:160px;border-bottom:1px solid #1a1a1a;margin:40px auto 8px}</style></head><body><div class=\"page\"><div class=\"header\"><div class=\"brand\"><h1>Sudut Ruang</h1><p>Jasa Desain Arsitektur &amp; Interior</p></div><div class=\"info\"><div>No. Proposal</div><strong>${d.proposalNo}</strong><div>${d.dateFormatted}</div></div></div><h2 style=\"margin-bottom:8px\">Proposal Jasa Desain ${d.buildingType}</h2><p style=\"color:#555;margin-bottom:32px\">Estimasi biaya jasa desain ${d.serviceType} - ${d.tier}</p><div class=\"client-box\"><div style=\"font-size:10px;color:#888;text-transform:uppercase\">Dipersiapkan untuk</div><strong style=\"font-size:14px\">${d.clientName}</strong></div><div class=\"section\"><div class=\"section-title\">Lingkup Proyek</div><table><tr><th>Item</th><th>Detail</th></tr><tr><td>Tipe Bangunan</td><td>${d.buildingType} - ${d.tier}</td></tr><tr><td>Luas Area</td><td>${d.area} m2</td></tr><tr><td>Jenis Jasa</td><td>Desain ${d.serviceType}</td></tr><tr><td>Estimasi RAB Konstruksi</td><td class=\"td-right\">${d.rabFmt}</td></tr></table></div><div class=\"section\"><div class=\"section-title\">Rincian Biaya Jasa Desain</div><table><tr><th>Komponen</th><th style=\"text-align:right\">Jumlah</th></tr><tr><td>Fee Jasa Desain</td><td class=\"td-right\">${d.feeFmtFull}</td></tr><tr><td>PPN 11%</td><td class=\"td-right\">${d.ppnFmtFull}</td></tr><tr class=\"row-grand\"><td>Total Tagihan</td><td class=\"td-right\">${d.totalFeeFmtFull}</td></tr></table></div><div class=\"section\"><div class=\"section-title\">Termin Pembayaran</div><div class=\"payment-grid\"><div class=\"payment-item\"><div class=\"pct\">30%</div><div>Down Payment</div><div>${d.dp30Fmt}</div><div style=\"font-size:11px;color:#999\">Saat kontrak ditandatangani</div></div><div class=\"payment-item\"><div class=\"pct\">40%</div><div>Progress Payment</div><div>${d.prog40Fmt}</div><div style=\"font-size:11px;color:#999\">Saat gambar desain selesai</div></div><div class=\"payment-item\"><div class=\"pct\">30%</div><div>Final Payment</div><div>${d.final30Fmt}</div><div style=\"font-size:11px;color:#999\">Saat dokumen diserahkan</div></div></div></div><div class=\"section\"><div class=\"section-title\">Ketentuan Umum</div><ul class=\"terms-list\"><li>Proposal berlaku sampai ${d.validUntil}.</li><li>Harga dapat berubah mengikuti kondisi pasar material.</li><li>Revisi di luar lingkup dikenakan biaya tambahan.</li><li>Hak cipta desain milik Sudut Ruang sampai pelunasan lunas.</li></ul></div><div class=\"footer\"><div style=\"text-align:center\"><div class=\"sig-line\"></div><div>Sudut Ruang</div><div style=\"font-size:11px;color:#999\">Principal Architect</div></div><div style=\"text-align:center\"><div class=\"sig-line\"></div><div>${d.clientName}</div><div style=\"font-size:11px;color:#999\">Client</div></div></div></div></body></html>`;\n\nreturn [{ json: { ...d, htmlContent: html } }];"
      },
      "id": "build-html",
      "name": "Build HTML Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.htmlContent) }},\n  \"apiKey\": \"{{ $vars.HTML2PDF_API_KEY }}\",\n  \"fileName\": \"Proposal-{{ $json.proposalNo }}.pdf\",\n  \"format\": \"A4\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfFile"
            }
          }
        }
      },
      "id": "html2pdf",
      "name": "HTML2PDF — Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Daftar di https://html2pdf.app\nSimpan API key di n8n: Settings > Variables > HTML2PDF_API_KEY\nAtau pakai layanan lain seperti puppeteer self-hosted."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "messageType": "text",
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ 'Halo ' + $json.clientName.split(' ')[0] + ', ini proposal lengkap dari Syifa - Sudut Ruang.\\n\\nNo. Proposal: ' + $json.proposalNo + '\\nTotal Fee: ' + $json.totalFeeFmt + '\\nBerlaku sampai: ' + $json.validUntil + '\\n\\nKalau ada yang perlu didiskusikan, langsung balas aja ya \\uD83D\\uDE0A' }}",
        "additionalFields": { "previewUrl": false }
      },
      "id": "wa-send-notif",
      "name": "WA — Notif Proposal Siap",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1120, 160],
      "credentials": {
        "whatsAppApi": { "id": "wa-cred", "name": "WhatsApp Business Cloud" }
      },
      "notes": "Kirim notifikasi bahwa proposal sudah dibuat.\nPDF dikirim manual atau via link kalau ada storage."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": {{ JSON.stringify($json.clientName) }},\n  \"client_phone\": \"{{ $json.from }}\",\n  \"type\": \"proposal\",\n  \"status\": \"sent\",\n  \"proposal_no\": \"{{ $json.proposalNo }}\",\n  \"file_url\": null,\n  \"data\": {\n    \"buildingType\": \"{{ $json.buildingType }}\",\n    \"tier\": \"{{ $json.tier }}\",\n    \"area\": {{ $json.area }},\n    \"rabAvg\": {{ $json.rabAvg }},\n    \"feeAvg\": {{ $json.feeAvg }},\n    \"totalFee\": {{ $json.totalFee }}\n  },\n  \"sent_at\": \"{{ $now }}\",\n  \"valid_until\": \"{{ $json.validUntilISO }}\"\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-insert-doc",
      "name": "Supabase — Insert Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 360],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wbfqudrzwsnlzevxjlkm.supabase.co/rest/v1/clients?on_conflict=id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.from }}\",\n  \"name\": {{ JSON.stringify($json.clientName) }},\n  \"phone\": \"{{ $json.from }}\",\n  \"source\": \"whatsapp\",\n  \"status\": \"proposal\",\n  \"building_type\": \"{{ $json.buildingType }}\",\n  \"tier\": \"{{ $json.tier }}\",\n  \"area_sqm\": {{ $json.area }},\n  \"rab_avg\": {{ $json.rabAvg }},\n  \"fee_avg\": {{ $json.feeAvg }},\n  \"last_proposal_no\": \"{{ $json.proposalNo }}\",\n  \"last_contact_at\": \"{{ $now }}\",\n  \"metadata\": {}\n}",
        "options": {
          "headers": {
            "entries": [
              { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" },
              { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiZnF1ZHJ6d3NubHpldnhqbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTY2NjUsImV4cCI6MjA5NTI3MjY2NX0.6ceWsWJ2g9ilLdHvKgolh7rKt5X8JEQyBHwDEhGJ4lc" }
            ]
          }
        }
      },
      "id": "supabase-update-client",
      "name": "Supabase — Update Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 560],
      "credentials": {
        "httpHeaderAuth": { "id": "supabase-cred", "name": "Supabase Authorization" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/incoming-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"lastMessage\": \"Proposal {{ $json.proposalNo }} telah dibuat\",\n  \"mode\": \"ai\",\n  \"intent\": \"PROPOSAL_SENT\",\n  \"needsHuman\": false,\n  \"metadata\": {\n    \"proposalNo\": \"{{ $json.proposalNo }}\",\n    \"totalFee\": \"{{ $json.totalFeeFmt }}\",\n    \"validUntil\": \"{{ $json.validUntil }}\",\n    \"buildingType\": \"{{ $json.buildingType }}\",\n    \"estimatedValue\": \"{{ $json.totalFeeFmt }}\"\n  },\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 360]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 2
      },
      "id": "wait-followup",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 160],
      "notes": "Auto follow-up 2 hari setelah proposal dikirim"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "messageType": "text",
        "phoneNumberId": "1052743247932102",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ 'Halo ' + $json.clientName.split(' ')[0] + ', Syifa mau follow up proposal ' + $json.proposalNo + ' yang kita kirim 2 hari lalu.\\n\\nSudah sempat dibaca? Kalau ada pertanyaan atau mau diskusi lebih lanjut, langsung balas aja ya \\uD83D\\uDE0A' }}",
        "additionalFields": { "previewUrl": false }
      },
      "id": "wa-followup",
      "name": "WA — Auto Follow-up",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1560, 160],
      "credentials": {
        "whatsAppApi": { "id": "wa-cred", "name": "WhatsApp Business Cloud" }
      }
    }
  ],
  "connections": {
    "Webhook — Trigger Proposal": {
      "main": [[{ "node": "Prepare Proposal Data", "type": "main", "index": 0 }]]
    },
    "Prepare Proposal Data": {
      "main": [[{ "node": "Build HTML Proposal", "type": "main", "index": 0 }]]
    },
    "Build HTML Proposal": {
      "main": [[{ "node": "HTML2PDF — Generate PDF", "type": "main", "index": 0 }]]
    },
    "HTML2PDF — Generate PDF": {
      "main": [[
        { "node": "WA — Notif Proposal Siap", "type": "main", "index": 0 },
        { "node": "Supabase — Insert Document", "type": "main", "index": 0 },
        { "node": "Supabase — Update Client", "type": "main", "index": 0 },
        { "node": "Wait 2 Days", "type": "main", "index": 0 }
      ]]
    },
    "WA — Notif Proposal Siap": {
      "main": [[{ "node": "Notify Dashboard", "type": "main", "index": 0 }]]
    },
    "Wait 2 Days": {
      "main": [[{ "node": "WA — Auto Follow-up", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "sudut-ruang" }]
}
