n8n-workflows/workflow-3-proposal-generator.json
{
  "name": "Sudut Ruang — 3. Proposal Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-proposal",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-proposal",
      "name": "Webhook — Trigger Proposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Dipanggil dari WF1 (intent=REQUEST_PROPOSAL) atau manual dari dashboard.\nPayload: { from, clientName, phoneNumberId, extracted, rabAvg, feeAvg, totalFee }"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json;\nvar extracted = body.extracted;\nif (typeof extracted === 'string') {\n  try { extracted = JSON.parse(extracted); } catch(e) { extracted = {}; }\n}\n\nvar now = new Date();\nvar pad = function(n) { return String(n).padStart(2, '0'); };\nvar proposalNo = 'SR-' + now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\n\nvar fmt = function(n) {\n  if (!n) return 'TBD';\n  if (n >= 1000000000) return 'Rp ' + (n/1000000000).toFixed(1) + ' M';\n  if (n >= 1000000) return 'Rp ' + Math.round(n/1000000) + ' jt';\n  return new Intl.NumberFormat('id-ID',{style:'currency',currency:'IDR',minimumFractionDigits:0}).format(n);\n};\n\nvar fmtFull = function(n) {\n  if (!n) return 'TBD';\n  return new Intl.NumberFormat('id-ID',{style:'currency',currency:'IDR',minimumFractionDigits:0}).format(n);\n};\n\nvar rabAvg = body.rabAvg || 0;\nvar feeAvg = body.feeAvg || (rabAvg * 0.07);\nvar ppn = feeAvg * 0.11;\nvar totalFee = feeAvg + ppn;\nvar dp30 = totalFee * 0.30;\nvar prog40 = totalFee * 0.40;\nvar final30 = totalFee * 0.30;\n\nvar buildingType = extracted.building_type || body.buildingType || 'Bangunan';\nvar tier = extracted.tier || body.tier || 'Standar';\nvar area = extracted.area_sqm || body.areaSqm || 100;\nvar serviceType = extracted.service_type || body.serviceCategory || 'Arsitektur';\n\nvar validDate = new Date(now.getTime() + 14*24*60*60*1000);\nvar dateOpts = {day:'numeric',month:'long',year:'numeric'};\n\nreturn [{\n  json: {\n    from: body.from,\n    clientName: body.clientName || 'Bapak/Ibu',\n    phoneNumberId: body.phoneNumberId || '1052743247932102',\n    proposalNo: proposalNo,\n    buildingType: buildingType,\n    tier: tier,\n    area: area,\n    serviceType: serviceType,\n    rabAvg: rabAvg,\n    rabFmt: fmt(rabAvg),\n    feeAvg: feeAvg,\n    feeFmt: fmt(feeAvg),\n    feeFmtFull: fmtFull(feeAvg),\n    ppn: ppn,\n    ppnFmt: fmt(ppn),\n    ppnFmtFull: fmtFull(ppn),\n    totalFee: totalFee,\n    totalFeeFmt: fmt(totalFee),\n    totalFeeFmtFull: fmtFull(totalFee),\n    dp30Fmt: fmtFull(dp30),\n    prog40Fmt: fmtFull(prog40),\n    final30Fmt: fmtFull(final30),\n    dateFormatted: now.toLocaleDateString('id-ID', dateOpts),\n    validUntil: validDate.toLocaleDateString('id-ID', dateOpts)\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Proposal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "var d = $json;\n\nvar html = '<!DOCTYPE html><html lang=\"id\"><head><meta charset=\"UTF-8\"><style>' +\n'* { margin: 0; padding: 0; box-sizing: border-box; }' +\n'body { font-family: Arial, sans-serif; font-size: 13px; color: #1a1a1a; }' +\n'.page { padding: 48px; max-width: 800px; margin: 0 auto; }' +\n'.header { display: flex; justify-content: space-between; padding-bottom: 24px; border-bottom: 3px solid #1a1a1a; margin-bottom: 32px; }' +\n'.brand h1 { font-size: 24px; font-weight: 900; }' +\n'.brand p { font-size: 12px; color: #666; }' +\n'.proposal-info { text-align: right; font-size: 12px; color: #666; }' +\n'h2 { font-size: 20px; margin-bottom: 8px; }' +\n'.client-box { background: #f5f5f5; border-left: 4px solid #1a1a1a; padding: 16px 20px; margin-bottom: 32px; }' +\n'.section { margin-bottom: 28px; }' +\n'.section-title { font-size: 11px; text-transform: uppercase; letter-spacing: 0.8px; color: #888; margin-bottom: 12px; padding-bottom: 8px; border-bottom: 1px solid #e0e0e0; }' +\n'table { width: 100%; border-collapse: collapse; }' +\n'th { background: #1a1a1a; color: white; padding: 10px 12px; text-align: left; font-size: 11px; text-transform: uppercase; }' +\n'td { padding: 10px 12px; border-bottom: 1px solid #eee; }' +\n'.td-right { text-align: right; font-family: monospace; }' +\n'.row-grand td { background: #1a1a1a; color: white; font-weight: 700; }' +\n'.payment-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 12px; }' +\n'.payment-item { background: #f5f5f5; padding: 16px; border-radius: 4px; text-align: center; }' +\n'.payment-item .pct { font-size: 24px; font-weight: 900; }' +\n'.payment-item .amount { font-size: 12px; font-weight: 600; }' +\n'.tl-item { display: flex; gap: 12px; margin-bottom: 8px; }' +\n'.tl-dot { width: 8px; height: 8px; border-radius: 50%; background: #1a1a1a; margin-top: 5px; flex-shrink: 0; }' +\n'.terms-list { list-style: none; }' +\n'.terms-list li { padding: 4px 0 4px 16px; position: relative; font-size: 12px; color: #444; }' +\n'.terms-list li::before { content: \"—\"; position: absolute; left: 0; color: #999; }' +\n'.footer { margin-top: 48px; padding-top: 24px; border-top: 1px solid #e0e0e0; display: flex; justify-content: space-between; }' +\n'.signature { text-align: center; }' +\n'.sig-line { width: 160px; border-bottom: 1px solid #1a1a1a; margin: 40px auto 8px; }' +\n'</style></head><body><div class=\"page\">' +\n'<div class=\"header\"><div class=\"brand\"><h1>Sudut Ruang</h1><p>Jasa Desain Arsitektur &amp; Interior</p></div>' +\n'<div class=\"proposal-info\"><div>No. Proposal</div><strong>' + d.proposalNo + '</strong><div>' + d.dateFormatted + '</div></div></div>' +\n'<h2>Proposal Jasa Desain ' + d.buildingType + '</h2>' +\n'<p style=\"color:#555;margin-bottom:32px\">Estimasi biaya jasa desain ' + d.serviceType.toLowerCase() + ' — ' + d.tier + '</p>' +\n'<div class=\"client-box\"><div style=\"font-size:10px;color:#888;text-transform:uppercase\">Dipersiapkan untuk</div><strong style=\"font-size:14px\">' + d.clientName + '</strong></div>' +\n'<div class=\"section\"><div class=\"section-title\">Lingkup Proyek</div>' +\n'<table><tr><th>Item</th><th>Detail</th></tr>' +\n'<tr><td>Tipe Bangunan</td><td>' + d.buildingType + ' — ' + d.tier + '</td></tr>' +\n'<tr><td>Luas Area</td><td>' + d.area + ' m&sup2;</td></tr>' +\n'<tr><td>Jenis Jasa</td><td>Desain ' + d.serviceType + '</td></tr>' +\n'<tr><td>Estimasi RAB Konstruksi</td><td class=\"td-right\">' + d.rabFmt + '</td></tr>' +\n'</table></div>' +\n'<div class=\"section\"><div class=\"section-title\">Rincian Biaya Jasa Desain</div>' +\n'<table><tr><th>Komponen</th><th style=\"text-align:right\">Jumlah</th></tr>' +\n'<tr><td>Fee Jasa Desain</td><td class=\"td-right\">' + d.feeFmtFull + '</td></tr>' +\n'<tr><td>PPN 11%</td><td class=\"td-right\">' + d.ppnFmtFull + '</td></tr>' +\n'<tr class=\"row-grand\"><td>Total Tagihan</td><td class=\"td-right\">' + d.totalFeeFmtFull + '</td></tr>' +\n'</table><p style=\"margin-top:10px;font-size:11px;color:#888\">* Biaya konstruksi (RAB) terpisah dari fee jasa desain.</p></div>' +\n'<div class=\"section\"><div class=\"section-title\">Termin Pembayaran</div>' +\n'<div class=\"payment-grid\">' +\n'<div class=\"payment-item\"><div class=\"pct\">30%</div><div>Down Payment</div><div class=\"amount\">' + d.dp30Fmt + '</div><div style=\"font-size:11px;color:#999\">Saat kontrak ditandatangani</div></div>' +\n'<div class=\"payment-item\"><div class=\"pct\">40%</div><div>Progress Payment</div><div class=\"amount\">' + d.prog40Fmt + '</div><div style=\"font-size:11px;color:#999\">Saat gambar desain selesai</div></div>' +\n'<div class=\"payment-item\"><div class=\"pct\">30%</div><div>Final Payment</div><div class=\"amount\">' + d.final30Fmt + '</div><div style=\"font-size:11px;color:#999\">Saat dokumen diserahkan</div></div>' +\n'</div></div>' +\n'<div class=\"section\"><div class=\"section-title\">Estimasi Timeline</div>' +\n'<div class=\"tl-item\"><div class=\"tl-dot\"></div><div><strong>Minggu 1-2:</strong> Konsultasi, pengukuran, dan brief desain</div></div>' +\n'<div class=\"tl-item\"><div class=\"tl-dot\"></div><div><strong>Minggu 3-4:</strong> Konsep desain &amp; presentasi awal</div></div>' +\n'<div class=\"tl-item\"><div class=\"tl-dot\"></div><div><strong>Minggu 5-6:</strong> Revisi dan finalisasi desain</div></div>' +\n'<div class=\"tl-item\"><div class=\"tl-dot\"></div><div><strong>Minggu 7-8:</strong> Penyerahan dokumen lengkap</div></div>' +\n'</div>' +\n'<div class=\"section\"><div class=\"section-title\">Ketentuan Umum</div>' +\n'<ul class=\"terms-list\">' +\n'<li>Proposal berlaku sampai ' + d.validUntil + '.</li>' +\n'<li>Harga dapat berubah mengikuti kondisi pasar material.</li>' +\n'<li>Revisi di luar lingkup dikenakan biaya tambahan.</li>' +\n'<li>Hak cipta desain milik Sudut Ruang sampai pelunasan lunas.</li>' +\n'<li>Perubahan lingkup harus disepakati secara tertulis.</li>' +\n'</ul></div>' +\n'<div class=\"footer\">' +\n'<div class=\"signature\"><div class=\"sig-line\"></div><div>Sudut Ruang</div><div style=\"font-size:11px;color:#999\">Principal Architect</div></div>' +\n'<div class=\"signature\"><div class=\"sig-line\"></div><div>' + d.clientName + '</div><div style=\"font-size:11px;color:#999\">Client</div></div>' +\n'</div>' +\n'</div></body></html>';\n\nreturn [{ json: { ...$json, htmlContent: html } }];"
      },
      "id": "build-html",
      "name": "Build HTML Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.htmlContent) }},\n  \"apiKey\": \"{{ $vars.HTML2PDF_API_KEY }}\",\n  \"fileName\": \"Proposal-{{ $json.proposalNo }}.pdf\",\n  \"format\": \"A4\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfFile"
            }
          }
        }
      },
      "id": "html2pdf-render",
      "name": "HTML2PDF — Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Daftar di https://html2pdf.app\nSimpan API key di n8n: Settings > Variables > HTML2PDF_API_KEY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/1052743247932102/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "type", "value": "application/pdf" },
            { "name": "file", "value": "={{ $binary.pdfFile }}" }
          ]
        },
        "options": {}
      },
      "id": "wa-upload-media",
      "name": "WA — Upload PDF to Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 160],
      "credentials": {
        "httpHeaderAuth": { "id": "meta-wa-token", "name": "Meta WA Bearer Token" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/1052743247932102/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $('WA — Upload PDF to Meta').first().json.id }}\",\n    \"filename\": \"Proposal-{{ $json.proposalNo }}.pdf\",\n    \"caption\": {{ JSON.stringify('Halo ' + $json.clientName.split(' ')[0] + ', ini proposal lengkap dari Sudut Ruang.\\n\\nNo. Proposal: ' + $json.proposalNo + '\\nBerlaku sampai: ' + $json.validUntil + '\\n\\nKalau ada yang perlu didiskusikan, langsung balas aja ya.') }}\n  }\n}",
        "options": {}
      },
      "id": "wa-send-doc",
      "name": "WA — Send PDF to Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 160],
      "credentials": {
        "httpHeaderAuth": { "id": "meta-wa-token", "name": "Meta WA Bearer Token" }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "1ne4sn-sPBmMjNYfxgy50ac7lZiSD0bKSvqYTf7bSt0s",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "proposal_history",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "proposal_no": "={{ $json.proposalNo }}",
            "phone": "={{ $json.from }}",
            "client_name": "={{ $json.clientName }}",
            "building_type": "={{ $json.buildingType }}",
            "tier": "={{ $json.tier }}",
            "area_sqm": "={{ $json.area }}",
            "rab_avg": "={{ $json.rabAvg }}",
            "fee_avg": "={{ $json.feeAvg }}",
            "total_fee": "={{ $json.totalFee }}",
            "sent_at": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "status": "sent",
            "valid_until": "={{ $json.validUntil }}"
          }
        },
        "matchingColumns": ["proposal_no"],
        "options": {}
      },
      "id": "sheets-log-proposal",
      "name": "Sheets — Log Proposal",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 360],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets (Service Account)"
        }
      },
      "notes": "Buat sheet 'proposal_history' di spreadsheet.\nKolom: proposal_no | phone | client_name | building_type | tier | area_sqm | rab_avg | fee_avg | total_fee | sent_at | status | valid_until"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "1ne4sn-sPBmMjNYfxgy50ac7lZiSD0bKSvqYTf7bSt0s",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "clients_database",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.from }}",
            "status": "proposal_sent",
            "last_proposal_no": "={{ $json.proposalNo }}",
            "last_contact": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
          }
        },
        "matchingColumns": ["phone"],
        "options": {}
      },
      "id": "sheets-update-client",
      "name": "Sheets — Update Client Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 540],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets (Service Account)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1696073.hstgr.cloud/webhook/incoming-conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": {{ JSON.stringify($json.clientName) }},\n  \"source\": \"whatsapp\",\n  \"lastMessage\": \"Proposal {{ $json.proposalNo }} telah dikirim\",\n  \"mode\": \"ai\",\n  \"intent\": \"PROPOSAL_SENT\",\n  \"metadata\": {\n    \"proposalNo\": \"{{ $json.proposalNo }}\",\n    \"totalFee\": \"{{ $json.totalFeeFmt }}\",\n    \"validUntil\": \"{{ $json.validUntil }}\",\n    \"buildingType\": \"{{ $json.buildingType }}\"\n  },\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 720]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 2
      },
      "id": "wait-followup",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/1052743247932102/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify('Halo ' + $json.clientName.split(' ')[0] + ', mau follow up proposal ' + $json.proposalNo + ' yang kita kirim 2 hari lalu.\\n\\nSudah sempat dibaca? Kalau ada pertanyaan atau mau diskusi lebih lanjut, langsung balas aja ya.') }} }\n}",
        "options": {}
      },
      "id": "wa-followup",
      "name": "WA — Auto Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "meta-wa-token", "name": "Meta WA Bearer Token" }
      }
    }
  ],
  "connections": {
    "Webhook — Trigger Proposal": {
      "main": [
        [{ "node": "Prepare Proposal Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Proposal Data": {
      "main": [
        [{ "node": "Build HTML Proposal", "type": "main", "index": 0 }]
      ]
    },
    "Build HTML Proposal": {
      "main": [
        [{ "node": "HTML2PDF — Generate PDF", "type": "main", "index": 0 }]
      ]
    },
    "HTML2PDF — Generate PDF": {
      "main": [
        [{ "node": "WA — Upload PDF to Meta", "type": "main", "index": 0 }]
      ]
    },
    "WA — Upload PDF to Meta": {
      "main": [
        [{ "node": "WA — Send PDF to Client", "type": "main", "index": 0 }]
      ]
    },
    "WA — Send PDF to Client": {
      "main": [
        [
          { "node": "Sheets — Log Proposal", "type": "main", "index": 0 },
          { "node": "Sheets — Update Client Status", "type": "main", "index": 0 },
          { "node": "Notify Dashboard", "type": "main", "index": 0 },
          { "node": "Wait 2 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [{ "node": "WA — Auto Follow-up", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{ "name": "sudut-ruang" }]
}
