n8n-workflows/workflow-2-estimator.json
{
  "name": "Sudut Ruang — 2. Auto Estimator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-estimator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-estimator",
      "name": "Webhook — Trigger from WF1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Dipanggil oleh Workflow 1 ketika intent = ASK_PRICE dan data lengkap.\nPayload: { from, clientName, phoneNumberId, extracted: {building_type, tier, area_sqm, service_type} }"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "jsCode": "// Normalize data dari Workflow 1\nconst body = $input.first().json;\nlet extracted = body.extracted;\n\n// Kalau extracted dikirim sebagai string (JSON.stringify), parse dulu\nif (typeof extracted === 'string') {\n  try { extracted = JSON.parse(extracted); } catch(e) { extracted = {}; }\n}\n\n// Map building_type ke id spreadsheet\nconst typeMap = {\n  'rumah': { type: 'Rumah Tinggal', defaultTier: 'Standar' },\n  'cafe': { type: 'Cafe / Restoran', defaultTier: 'Standar' },\n  'restoran': { type: 'Cafe / Restoran', defaultTier: 'Standar' },\n  'kantor': { type: 'Kantor', defaultTier: 'Standar' },\n  'villa': { type: 'Villa / Guest House', defaultTier: 'Standar' },\n  'guest house': { type: 'Villa / Guest House', defaultTier: 'Standar' },\n  'ruko': { type: 'Ruko / Kios', defaultTier: 'Standar' },\n  'kios': { type: 'Ruko / Kios', defaultTier: 'Standar' },\n  'renovasi': { type: 'Renovasi (Parsial)', defaultTier: 'Sedang' },\n};\n\n// Map tier dari AI ke tier spreadsheet\nconst tierMap = {\n  'ekonomi': 'Ekonomi',\n  'standar': 'Standar',\n  'menengah': 'Menengah Atas',\n  'premium': 'Premium',\n  'mewah': 'Mewah/Premium',\n  'ringan': 'Ringan',\n  'sedang': 'Sedang',\n  'full gut': 'Full Gut',\n};\n\n// Map service_type ke kategori spreadsheet\nconst serviceMap = {\n  'arsitektur': 'Arsitektur',\n  'interior': 'Interior',\n  'komersial': 'Komersial',\n  'lansekap': 'Lansekap',\n  'pengawasan': 'Pengawasan',\n};\n\n// Auto-detect service dari building type kalau tidak disebutkan\nconst autoServiceMap = {\n  'cafe': 'Komersial',\n  'restoran': 'Komersial',\n  'renovasi': 'Interior',\n  'villa': 'Arsitektur',\n  'rumah': 'Arsitektur',\n  'kantor': 'Arsitektur',\n  'ruko': 'Arsitektur',\n};\n\nconst rawType = (extracted.building_type || '').toLowerCase();\nconst rawTier = (extracted.tier || '').toLowerCase();\nconst rawService = (extracted.service_type || '').toLowerCase();\n\nconst typeInfo = typeMap[rawType] || { type: 'Rumah Tinggal', defaultTier: 'Standar' };\nconst normalizedTier = tierMap[rawTier] || typeInfo.defaultTier;\nconst normalizedService = serviceMap[rawService] || autoServiceMap[rawType] || 'Arsitektur';\n\nreturn [{\n  json: {\n    from: body.from,\n    clientName: body.clientName || 'kak',\n    phoneNumberId: body.phoneNumberId,\n    buildingType: typeInfo.type,\n    tier: normalizedTier,\n    areaSqm: extracted.area_sqm || null,\n    serviceCategory: normalizedService,\n    rawExtracted: extracted\n  }\n}];"
      },
      "id": "normalize-data",
      "name": "Normalize Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "value": "1ne4sn-sPBmMjNYfxgy50ac7lZiSD0bKSvqYTf7bSt0s",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "RAB Biaya Konstruksi",
          "__rl": true,
          "mode": "name"
        },
        "options": {
          "headerRow": 4
        }
      },
      "id": "sheets-read-rab",
      "name": "Sheets — Read RAB Konstruksi",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets (Service Account)"
        }
      },
      "notes": "Credentials: Google Sheets OAuth2 atau Service Account\nDocument ID sudah diisi dari spreadsheet Sudut Ruang.\nAdjust headerRow sesuai baris header aktual di sheet."
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "value": "1ne4sn-sPBmMjNYfxgy50ac7lZiSD0bKSvqYTf7bSt0s",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Fee Jasa Arsitek",
          "__rl": true,
          "mode": "name"
        },
        "options": {
          "headerRow": 4
        }
      },
      "id": "sheets-read-fee",
      "name": "Sheets — Read Fee Jasa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets (Service Account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari kedua sheet dan hitung estimasi\nconst inputData = $('Normalize Extracted Data').first().json;\nconst rabRows = $('Sheets — Read RAB Konstruksi').all().map(i => i.json);\nconst feeRows = $('Sheets — Read Fee Jasa').all().map(i => i.json);\n\nconst { buildingType, tier, areaSqm, serviceCategory } = inputData;\n\n// --- STEP 1: Cari baris RAB yang cocok ---\n// Coba exact match dulu\nlet rabRow = rabRows.find(r => {\n  const rowType = (r['Tipe Bangunan'] || r['tipe'] || Object.values(r)[0] || '').toString().trim();\n  const rowTier = (r['Kelas'] || r['kelas'] || Object.values(r)[1] || '').toString().trim();\n  return rowType.toLowerCase().includes(buildingType.toLowerCase().split('/')[0].trim().toLowerCase())\n    && rowTier.toLowerCase().includes(tier.toLowerCase().split('/')[0].trim().toLowerCase());\n});\n\n// Fallback: cari hanya berdasarkan tipe\nif (!rabRow) {\n  rabRow = rabRows.find(r => {\n    const rowType = (Object.values(r)[0] || '').toString().trim();\n    return rowType.toLowerCase().includes(buildingType.toLowerCase().split('/')[0].trim().toLowerCase());\n  });\n}\n\n// Ultimate fallback: pakai Rumah Tinggal Standar\nif (!rabRow) {\n  rabRow = rabRows[1] || rabRows[0];\n}\n\n// --- STEP 2: Extract harga RAB ---\n// Coba berbagai kemungkinan nama kolom\nconst rabMinRaw = rabRow['Harga Min/m²'] || rabRow['Min'] || rabRow['harga_min'] || Object.values(rabRow)[2] || 0;\nconst rabMaxRaw = rabRow['Harga Maks/m²'] || rabRow['Maks'] || rabRow['harga_max'] || Object.values(rabRow)[3] || 0;\n\n// Bersihkan nilai (hapus titik, koma, Rp)\nconst cleanNum = (val) => {\n  if (typeof val === 'number') return val;\n  return parseFloat(String(val).replace(/[^0-9.]/g, '')) || 0;\n};\n\nconst rabPriceMin = cleanNum(rabMinRaw);\nconst rabPriceMax = cleanNum(rabMaxRaw);\nconst area = areaSqm || 100; // default 100m2 kalau tidak disebutkan\n\nconst rabMin = rabPriceMin * area;\nconst rabMax = rabPriceMax * area;\nconst rabAvg = (rabMin + rabMax) / 2;\n\n// --- STEP 3: Cari baris Fee yang cocok ---\nlet feeRow = feeRows.find(r => {\n  const rowCat = (r['Kategori'] || r['Jenis Jasa'] || Object.values(r)[0] || '').toString();\n  return rowCat.toLowerCase().includes(serviceCategory.toLowerCase().split('/')[0].trim().toLowerCase())\n    || rowCat.toLowerCase().includes(serviceCategory.toLowerCase());\n});\n\nif (!feeRow) {\n  feeRow = feeRows[0]; // fallback ke baris pertama\n}\n\n// --- STEP 4: Hitung fee ---\nconst feePctRaw = feeRow['Fee (%)'] || feeRow['Persentase'] || feeRow['%'] || Object.values(feeRow)[2] || 7;\nconst feePctStr = String(feePctRaw);\n\n// Handle range \"7-10%\"\nlet feePctMin, feePctMax;\nif (feePctStr.includes('-')) {\n  const parts = feePctStr.replace('%','').split('-');\n  feePctMin = parseFloat(parts[0]) || 7;\n  feePctMax = parseFloat(parts[1]) || 10;\n} else {\n  feePctMin = feePctMax = parseFloat(feePctStr.replace('%','')) || 7;\n}\n\nconst feeMin = rabAvg * feePctMin / 100;\nconst feeMax = rabAvg * feePctMax / 100;\nconst feeAvg = (feeMin + feeMax) / 2;\n\nconst ppnRate = 0.11;\nconst ppn = feeAvg * ppnRate;\nconst totalFee = feeAvg + ppn;\n\n// --- STEP 5: Format angka ke Rupiah ---\nconst fmt = (n) => {\n  if (n >= 1_000_000_000) return `Rp ${(n/1_000_000_000).toFixed(1)} M`;\n  if (n >= 1_000_000) return `Rp ${Math.round(n/1_000_000)} jt`;\n  return `Rp ${n.toLocaleString('id-ID')}`;\n};\n\nconst serviceName = feeRow['Jenis Jasa'] || feeRow['Layanan'] || Object.values(feeRow)[0] || 'Jasa Desain';\nconst spec = rabRow['Spesifikasi'] || rabRow['Keterangan'] || Object.values(rabRow)[4] || '';\n\nreturn [{\n  json: {\n    ...inputData,\n    area,\n    result: {\n      buildingType,\n      tier,\n      areaSqm: area,\n      spec,\n      rabMin, rabMax, rabAvg,\n      rabMinFmt: fmt(rabMin), rabMaxFmt: fmt(rabMax), rabAvgFmt: fmt(rabAvg),\n      serviceName,\n      serviceCategory,\n      feePctMin, feePctMax,\n      feeMin, feeMax, feeAvg,\n      feeMinFmt: fmt(feeMin), feeMaxFmt: fmt(feeMax), feeAvgFmt: fmt(feeAvg),\n      ppn, ppnFmt: fmt(ppn),\n      totalFee, totalFeeFmt: fmt(totalFee),\n      areaAssumed: !areaSqm\n    }\n  }\n}];"
      },
      "id": "calculate",
      "name": "Calculate RAB + Fee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build pesan WA yang akan dikirim ke client\nconst { result, clientName } = $json;\nconst name = (clientName || 'kak').split(' ')[0];\nconst r = result;\n\n// Baris asumsi kalau luas tidak disebutkan\nconst areaNote = r.areaAssumed\n  ? `\\n(estimasi berdasarkan luas 100m2, sesuaikan kalau beda ya)`\n  : '';\n\n// Range fee atau single value\nconst feeRange = r.feePctMin !== r.feePctMax\n  ? `${r.feePctMin}-${r.feePctMax}%`\n  : `${r.feePctMin}%`;\n\nconst feeDisplay = r.feePctMin !== r.feePctMax\n  ? `${r.feeMinFmt} - ${r.feeMaxFmt}`\n  : r.feeAvgFmt;\n\nconst replyText =\n`Halo ${name}, ini estimasi kasarnya ya.\n\nProyek: ${r.buildingType} ${r.tier}\nLuas: ${r.areaSqm}m2${areaNote}\nSpesifikasi: ${r.spec || '-'}\n\nEstimasi RAB Konstruksi:\n${r.rabMinFmt} - ${r.rabMaxFmt}\n(rata-rata ${r.rabAvgFmt})\n\nFee Jasa Desain Sudut Ruang (${feeRange} dari RAB):\n${feeDisplay}\n\nPPN 11%: ${r.ppnFmt}\nTotal Fee Jasa: ${r.totalFeeFmt}\n\nIni masih estimasi awal ya, bisa berubah setelah survey dan diskusi detail.\n\nMau kita buatkan proposal lengkap dengan breakdown lebih rinci?`;\n\nreturn [{ json: { ...$json, replyText } }];"
      },
      "id": "build-reply",
      "name": "Build WA Reply Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.replyText) }}\n  }\n}",
        "options": {}
      },
      "id": "wa-send",
      "name": "Send WA — Estimasi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "meta-wa-token", "name": "Meta WA Bearer Token" }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "1ne4sn-sPBmMjNYfxgy50ac7lZiSD0bKSvqYTf7bSt0s",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "clients_database",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.from }}",
            "name": "={{ $json.clientName }}",
            "last_intent": "ASK_PRICE",
            "building_type": "={{ $json.buildingType }}",
            "tier": "={{ $json.tier }}",
            "area_sqm": "={{ $json.area }}",
            "rab_avg": "={{ $json.result.rabAvg }}",
            "fee_avg": "={{ $json.result.feeAvg }}",
            "status": "lead",
            "last_contact": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "source": "whatsapp"
          }
        },
        "matchingColumns": ["phone"],
        "options": {}
      },
      "id": "sheets-log-client",
      "name": "Sheets — Log / Update Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets (Service Account)"
        }
      },
      "notes": "Sheet 'clients_database' harus dibuat dulu di spreadsheet.\nKolom: phone | name | last_intent | building_type | tier | area_sqm | rab_avg | fee_avg | status | last_contact | source"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/webhook/incoming-conversation",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"conversationId\": \"{{ $json.from }}\",\n  \"clientName\": \"{{ $json.clientName }}\",\n  \"source\": \"whatsapp\",\n  \"lastMessage\": \"{{ $json.replyText }}\",\n  \"mode\": \"ai\",\n  \"intent\": \"ASK_PRICE\",\n  \"metadata\": {\n    \"buildingType\": \"{{ $json.result.buildingType }}\",\n    \"tier\": \"{{ $json.result.tier }}\",\n    \"areaSqm\": {{ $json.result.areaSqm }},\n    \"estimatedValue\": \"{{ $json.result.totalFeeFmt }}\"\n  },\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 600],
      "notes": "Ganti localhost:3000 dengan URL dashboard Anda di VPS."
    }
  ],
  "connections": {
    "Webhook — Trigger from WF1": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Normalize Extracted Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Extracted Data": {
      "main": [
        [
          { "node": "Sheets — Read RAB Konstruksi", "type": "main", "index": 0 },
          { "node": "Sheets — Read Fee Jasa", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets — Read RAB Konstruksi": {
      "main": [
        [{ "node": "Calculate RAB + Fee", "type": "main", "index": 0 }]
      ]
    },
    "Sheets — Read Fee Jasa": {
      "main": [
        [{ "node": "Calculate RAB + Fee", "type": "main", "index": 0 }]
      ]
    },
    "Calculate RAB + Fee": {
      "main": [
        [{ "node": "Build WA Reply Text", "type": "main", "index": 0 }]
      ]
    },
    "Build WA Reply Text": {
      "main": [
        [
          { "node": "Send WA — Estimasi", "type": "main", "index": 0 },
          { "node": "Sheets — Log / Update Client", "type": "main", "index": 0 },
          { "node": "Notify Dashboard", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{ "name": "sudut-ruang" }]
}
